#################################################################################
 # Git Ignore
 # 
 # If there are files you do not wish to track changes for, add them in here.
 # This can include IDE environment files, configuration files that are user
 # specific, etc
 #
 # See the following link for more information: 
 # https://www.freecodecamp.org/news/gitignore-file-how-to-ignore-files-and-folders-in-git/
 #
 ################################################################################

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide
